/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = Condition for running the module.
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*:BOOTSTRAP_VARIANT_SET_.*:CALL_VARIANTS_GATK_BOOTSTRAP:BCFTOOLS_STATS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/bootstrapping/round_${meta.bootstrapping_round}/stats/"},
            pattern: "*stats.txt"
        ]
    }
    withName: '.*:CALL_VARIANTS_GATK:BCFTOOLS_STATS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/variant_calling/gatk/stats/"},
            pattern: "*stats.txt"
        ]
    }
}
