/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = Condition for running the module.
----------------------------------------------------------------------------------------
*/

process {
    withName: GATK4_VARIANTFILTRATION {
        ext.args = """--filter-expression "Qual >= 100" --filter-name "Qual100" \
        --filter-expression "QD < 2.0" --filter-name "QD2" \
        --filter-expression "MQ < 35.0" --filter-name "MQ35" \
        --filter-expression "FS > 60.0" --filter-name "FS60" \
        --filter-expression "HaplotypeScore > 13.0" --filter-name "Haplo13" \
        --filter-expression "MQRankSum < -12.5" --filter-name "MQRankSum-12" \
        --filter-expression "ReadPosRankSum < -8.0" --filter-name "ReadPosRank-8" """
    }
}
