/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = Condition for running the module.
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*:PREPROCESS:SAMTOOLS_MERGE' {
        publishDir = [
            enabled: false,
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/preprocessing/alignment/bam/merged/"},
            pattern: "*.bam"
        ]
    }
    withName: '.*:BOOTSTRAP_VARIANT_SET_.*:BQSR_BOOTSTRAP:SAMTOOLS_MERGE' {
        ext.args = '--output-fmt cram,version=3.0'
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/bootstrapping/round_${meta.bootstrapping_round}/bqsr/cram/merged/"},
            pattern: "*.cram"
        ]
    }
    withName: '.*:BASE_QUALITY_SCORE_RECALIBRATION:SAMTOOLS_MERGE' {
        ext.args = '--output-fmt cram,version=3.0'
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/bqsr/cram/merged/"},
            pattern: "*.cram"
        ]
    }
}
