/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = Condition for running the module.
----------------------------------------------------------------------------------------
*/

process {

    // Disable ALL bootstrap rounds if a known variant set (VCF) is provided
    withName: '.*:BOOTSTRAP_VARIANT_SET_.*:.*' {
        ext.when = { params.bootstrapping_rounds > 0 && !params.known_variants_vcf }
    }

    // Enable round 2 only when requested
    withName: '.*:BOOTSTRAP_VARIANT_SET_2:.*' {
        ext.when = { params.bootstrapping_rounds > 1 && !params.known_variants_vcf }
    }

    // Enable round 3 only when requested
    withName: '.*:BOOTSTRAP_VARIANT_SET_3:.*' {
        ext.when = { params.bootstrapping_rounds > 2 && !params.known_variants_vcf }
    }
}
